absl-py @ file:///C:/b/abs_d3cv5rzljl/croot/absl-py_1686852506854/work
aiohttp @ file:///C:/b/abs_b78zt6vo64/croot/aiohttp_1694181126607/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1702909220329/work
arch==6.3.0
asgiref @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_cchykh5sgr/croots/recipe/asgiref_1661287542702/work
astropy==6.0.0
astropy-iers-data==0.2024.2.12.0.31.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
async-timeout==4.0.3
attrs @ file:///C:/b/abs_35n0jusce8/croot/attrs_1695717880170/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1698890160476/work
blis @ file:///D:/bld/cython-blis_1696148980119/work
bokeh @ file:///C:/b/abs_2e_t0r5_ka/croot/bokeh_1697490493562/work
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
Brotli @ file:///D:/bld/brotli-split_1695989908365/work
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
catalogue @ file:///C:/ci/catalogue_1651134641190/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
clarabel @ file:///D:/bld/clarabel_1697056827416/work
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
clickhouse-driver @ file:///D:/bld/clickhouse-driver_1695803306894/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1704278392174/work
confection @ file:///C:/b/abs_41ypt8t7st/croot/confection_1684136620764/work
contourpy @ file:///C:/b/abs_d5rpy288vc/croots/recipe/contourpy_1663827418189/work
cryptography @ file:///C:/b/abs_f4do8t8jfs/croot/cryptography_1694444424531/work
cvxpy @ file:///D:/bld/cvxpy-split_1705721183317/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///C:/ci/cymem_1651231500120/work
dash @ file:///C:/b/abs_9d_k2bdhof/croot/dash_1669048389289/work
dateparser==1.2.0
debugpy @ file:///D:/bld/debugpy_1695534507849/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
Django @ file:///D:/bld/django_1664983561731/work
docutils @ file:///D:/bld/docutils_1701882766430/work
ecos @ file:///D:/bld/ecos_1707295490015/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
factor==0.0.1
feedgenerator @ file:///home/conda/feedstock_root/build_artifacts/feedgenerator_1681478334954/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1698714947081/work
Flask @ file:///C:/b/abs_ef16l83sif/croot/flask_1671217367534/work
Flask-Compress @ file:///C:/b/abs_a7ii9f64l5/croot/flask-compress_1668714951742/work
flatbuffers @ file:///home/ktietz/cip/python-flatbuffers_1634039120618/work
fonttools==4.25.0
frozenlist @ file:///C:/b/abs_d8e__s1ys3/croot/frozenlist_1698702612014/work
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
gensim @ file:///C:/b/abs_a5vat69tv8/croot/gensim_1674853640591/work
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1617120569401/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
greenlet @ file:///C:/b/abs_47lk_w2ajq/croot/greenlet_1670513248400/work
grpcio @ file:///C:/ci/grpcio_1637590978642/work
h5py @ file:///C:/b/abs_17fav01gwy/croot/h5py_1691589733413/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
importlib-metadata @ file:///C:/b/abs_20ndzb2j6v/croot/importlib-metadata_1678997085534/work
importlib-resources @ file:///C:/b/abs_9d6rmtszbl/croot/importlib_resources_1698254653090/work
ipykernel @ file:///D:/bld/ipykernel_1705418162861/work
ipython @ file:///D:/bld/ipython_1680185618122/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1704966972576/work
joblib @ file:///C:/b/abs_1anqjntpan/croot/joblib_1685113317150/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1673615989977/work
jupyter_core @ file:///D:/bld/jupyter_core_1704727196845/work
keras @ file:///C:/Users/builder/adipietro/mc3/tf210/conda-bld/keras_1669760570649/work/keras-2.10.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
langcodes @ file:///opt/conda/conda-bld/langcodes_1643477751144/work
lz4 @ file:///D:/bld/lz4_1704831463872/work
Markdown @ file:///C:/b/abs_98lv_ucina/croot/markdown_1671541919225/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///D:/bld/markupsafe_1705779110057/work
matplotlib @ file:///C:/b/abs_e26vnvd5s1/croot/matplotlib-suite_1698692153288/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
Mosek @ file:///C:/Anaconda3/conda-bld/mosek_1707914402641/work/Mosek-10.1.25-cp37-abi3-win_amd64.whl#sha256=de36728071445da5967eefedc4b7a2859e323d63aff1eb8cc2016186e85eaf42
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict @ file:///C:/b/abs_6cx_8w3cv2/croot/multidict_1665674238352/work
munkres==1.1.4
murmurhash @ file:///C:/ci/murmurhash_1651229804812/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
nltk @ file:///C:/b/abs_a638z6l1z0/croot/nltk_1688114186909/work
numexpr @ file:///D:/bld/numexpr_1703356869521/work
numpy @ file:///D:/bld/numpy_1704280543923/work/dist/numpy-1.26.3-cp39-cp39-win_amd64.whl#sha256=c415bb035268f5417f90edc094320fef345b8aa01ee603d1e811305d4c8d4c83
oauthlib @ file:///C:/b/abs_44riqpe5gg/croot/oauthlib_1679489644705/work
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1643221357603/work
osqp @ file:///D:/bld/osqp_1696561070531/work
packaging @ file:///C:/b/abs_28t5mcoltc/croot/packaging_1693575224052/work
pandas @ file:///C:/b/abs_81b3npjrl8/croot/pandas_1697477219064/work/dist/pandas-2.1.1-cp39-cp39-win_amd64.whl#sha256=52f4b2edc1ff7d4ab3efc3bc5744e39c3cdbd6d723393d35fe439f4e139fde7a
pandasql @ file:///C:/ci/pandasql_1632895893970/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathy @ file:///C:/b/abs_3d0bk9z5_1/croot/pathy_1674585938637/work
patsy==0.5.6
pelican @ file:///home/conda/feedstock_root/build_artifacts/pelican_1701094333849/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1701708255999/work
plotly @ file:///C:/ci/plotly_1658142442431/work
preshed @ file:///C:/ci/preshed_1651240545586/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
protobuf==3.20.3
psutil @ file:///D:/bld/psutil_1705722541723/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pybind11==2.11.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///C:/b/abs_9byjrk31gl/croot/pydantic_1695798904828/work
pyerfa==2.0.1.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PyJWT @ file:///C:/ci/pyjwt_1657511236979/work
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///C:/b/abs_19q3ljkez4/croot/pytz_1695131651401/work
pywin32==306
PyYAML @ file:///D:/bld/pyyaml_1695373613960/work
pyzmq @ file:///D:/bld/pyzmq_1701783320990/work
qdldl @ file:///D:/bld/qdldl-python_1702901148451/work
redis==5.0.2
regex @ file:///C:/b/abs_d5e2e5uqmr/croot/regex_1696515472506/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib==1.3.0
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1700160075651/work/dist
Riskfolio-Lib==5.0.1
rpy2 @ file:///D:/bld/rpy2_1696426266222/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
scikit-learn @ file:///C:/b/abs_55olq_4gzc/croot/scikit-learn_1690978955123/work
scipy @ file:///C:/bld/scipy-split_1705882549586/work/dist/scipy-1.12.0-cp39-cp39-win_amd64.whl#sha256=5bcb5caa723e990b3936610acac570ec251e725bb2afb632902a5fa464943db5
scs @ file:///D:/bld/scs_1707387263118/work
seaborn @ file:///C:/b/abs_68ltdkoyoo/croot/seaborn_1673479199997/work
selenium @ file:///C:/ci/selenium_1614268120390/work
shellingham @ file:///C:/b/abs_c3l_fe1lnk/croot/shellingham_1669142179061/work
simplegeneric==0.8.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///C:/ci/smart_open_1651235069716/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
spacy @ file:///C:/b/abs_2dtks5gwjb/croot/spacy_1684329083461/work
spacy-legacy @ file:///C:/b/abs_03fuap2pri/croot/spacy-legacy_1684141127990/work
spacy-loggers @ file:///C:/b/abs_d6x_m5j2nj/croot/spacy-loggers_1684139141178/work
SQLAlchemy @ file:///C:/Windows/Temp/abs_f8661157-660b-49bb-a790-69ab9f3b8f7c8a8s2psb/croots/recipe/sqlalchemy_1657867864564/work
sqlparse @ file:///C:/b/abs_88361ub_qu/croot/sqlparse_1690904577514/work
srsly @ file:///C:/b/abs_62r7cstcyj/croot/srsly_1698702608687/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels==0.14.1
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180539862/work
tenacity @ file:///C:/b/abs_ddkoa9nju6/croot/tenacity_1682972298929/work
tensorboard @ file:///C:/Users/builder/adipietro/mc3/tf210/conda-bld/tensorboard_1669760968711/work/tensorboard-2.10.0-py3-none-any.whl
tensorboard-data-server @ file:///C:/b/abs_2fhvpo862s/croot/tensorboard-data-server_1670853600144/work/tensorboard_data_server-0.6.1-py3-none-any.whl
tensorboard-plugin-wit @ file:///C:/tf/b/tensorboard-plugin-wit_1660162132996/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow==2.10.0
tensorflow-estimator @ file:///C:/Users/builder/adipietro/mc3/tf210/conda-bld/tensorflow-estimator_1669761460695/work/tensorflow_estimator-2.10.0-py2.py3-none-any.whl
termcolor @ file:///C:/b/abs_16qe7jhw7n/croot/termcolor_1668084642458/work
thinc @ file:///C:/b/abs_57lmcu9n14/croot/thinc_1684243959753/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1704212992681/work
typer @ file:///C:/ci/typer_1651210418124/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal @ file:///D:/bld/tzlocal_1698013049085/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1704986336983/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1699933488691/work
wasabi @ file:///C:/ci/wasabi_1651234644710/work
watchfiles @ file:///D:/bld/watchfiles_1701078009259/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
Werkzeug @ file:///C:/b/abs_8578rs2ra_/croot/werkzeug_1679489759009/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wordcloud @ file:///D:/bld/wordcloud_1710887178251/work
wrapt @ file:///C:/Windows/Temp/abs_7c3dd407-1390-477a-b542-fd15df6a24085_diwiza/croots/recipe/wrapt_1657814452175/work
XlsxWriter==3.1.9
xyzservices @ file:///C:/b/abs_8bh3h2qh76/croot/xyzservices_1675159066824/work
yarl @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_e5nlunspj6/croots/recipe/yarl_1661437086516/work
zipp @ file:///C:/b/abs_b9jfdr908q/croot/zipp_1672387552360/work
